.icon {
  width: 50px;
}

.social-med {
  display: inline;
  width: 33%;
}

body {
  /* Old browsers */
  display: flex;
  background: #141E30;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(-45deg, #35577D, #141E30);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(-45deg, #35577D, #141E30);
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(3,1fr);
}

body.dy {
  display: grid;
}

header {
  background-color: #466995;
  border-bottom: 1px solid #466995;
  position: fixed;
  width: 100%;
  z-index: 10;
}

main {
  padding-top: 200px;
}

.active {
  color: yellow;
  text-decoration: underline;
}

h1 {
  color: #FFF !important;
  font-size: 2em;

  width: 100%;
  font-family: Georgia;
  text-align: center;
}

a {
  text-decoration: none;
}

h2 {
  border-bottom: 1px solid rgba(255, 255, 200);
  color: rgba(255, 255, 200);
  font-weight: 100;
  font-size: 22px;
  line-height: 24px;
  padding-bottom: 30px;
  text-align: center;
  font-family: Georgia;
}

h3 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  font-weight: 100;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 30px;
  text-align: left;
  font-family: Georgia;
  text-align: center;
}

p, figcaption{
  color: aliceblue;
  line-height: 1.3em;
  text-align: center;
  width: 100%;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: bold;
  justify-content: center;
}

a{
  color: aliceblue;
  line-height: 1.3em;
  width: 100%;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: bold;
}

.caption {
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  font-style: italic;
  line-height: 14px;
  margin-left: 20px;
  padding: 10px;
  position: relative;
  top: 80%;
  width: 60%;
  background-color: white;
  color: black;
}

.content {
  padding: 40px;
}

.writer-img {
  -webkit-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
  -moz-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
  box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
  float: left;
  width: 50px;
}

nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  background: linear-gradient(90deg, #d67de2, #6ec8e4);
  text-align: justify-all;
}

nav a {
  text-decoration: none;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 18px;
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  display: flex;
}
nav a:hover{
  background-color:burlywood;
}

.nav_li {
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-flex;
  padding-left: 10px;
  padding-right: 10px;
}

.circular--portrait{
  position:relative;
  width:50px;
  height:50px;
  overflow: hidden;
  border-radius:50%;
  float: left;
}

.circular--portrait img{
  width:200%;
  margin-top: 0%;
  margin-left:20%;
  height:auto;
}

img.main-img {
  width: 20vw;
  margin: 2px;
  border: 1px rgb(0, 229, 255) solid;
  padding: 1px;
}

img.index-img {
  animation: fadeIn ease 3s;
}

img.main-img:hover{
  padding: 1px;
  margin: 3px;
  border: 2px solid yellow;
  width: 30vw;
  z-index: 10;
}

img.showcase{
  width: 20vw;
  margin: 2px;
  border: 1px rgb(0, 229, 255) solid;
  padding: 1px;
  max-height: 400px;
}

img.showcase:hover{
  padding: 1px;
  margin: 3px;
  border: 2px solid yellow;
  width: 30vw;
  z-index: 10;
  max-height: 450px;
}

/*.gallery {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  grid-template-columns: repeat(3, 1fr);*/
/*  gap: 12vw;*/
/*  margin-top: 44px;*/
/*  justify-content: center;*/
/*  grid-auto-rows: 500px;*/
/*}*/

.gallery{
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px;
  margin: 0 0 2vh 2vh;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
}

footer{
    background-image: url(../images/sea.jpeg);
    height: 10vh;
}

header{
  grid-column: 1 / -1 ;
  grid-row: 1 ;
  width: 100vw;
}
main{
  grid-column: 1 / -1 ;
  grid-row: 2 ;
}

aside {
  grid-column: 1 / -1 ;
  grid-row: 4;
}

footer{
  grid-column: 1 / -1 ;
  grid-row: 5;
}

form{
  display: flex;
  flex-direction: column;
}

label {
  color: aliceblue;
  line-height: 1.3em;
  text-align: center;
  width: 100%;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: bold;
  justify-content: center;
}

button {
  width: 50vh;
  align-self: center;
}



@media only screen and (min-width:500px) {

	.gallery{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content:space-evenly;
		align-items: center;
	}

    nav {
      flex-direction: row;
    }
}

@keyframes fadeIn {
  0% {
      opacity:0;
      transform: scale(1);
  }
  100% {
      opacity:1;
      transform: scale(1.05);
  }
}

@media (prefers-reduced-motion) {
    div.contact img {
      animation:  none ;
    }
  }
